:root {
  /* --na-main-bg-color: #2B2B3D;
  --na-main-text-color: aquamarine;
  --na-main-primary-color: aquamarine; */

  --na-main-bg-color: #202838;
  --na-main-text-color: #c0fa7e;
  --na-main-primary-color: #c0fa7e;
  --na-main-heading: white;
}

body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: var(--na-main-text-color);
  background-color: var(--na-main-bg-color);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--na-main-heading);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--na-main-bg-color);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  min-width: 350px;
  border-radius: 0.375rem;
  margin: auto;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1.75rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.main-content {
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 4rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 20px;
}

/* Button styling (https://codepen.io/atloomer/pen/JEaRWX) */

.btn {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid var(--na-main-primary-color);
  color: var(--na-main-primary-color);
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: var(--na-main-primary-color);
  text-decoration: none;
  letter-spacing: 1px;
}

.btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn a {
  position: relative;
  transition: all .35s ease-Out;
}

.underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: var(--na-main-primary-color);
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

.btn:hover .underline {
  left: 0;
}



/* Quote styling (adapted from https://codepen.io/jupago/pen/dwZKbM) */

/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
}

/* Blockquote main style */
.blockquote {
   position: relative;
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;
   color: #ffffff;
   padding: 30px 30px;
   width: 70%;
   z-index: 1;
   margin: 80px auto;
   align-self: center;
}

.blockquote.border-gradient {
  border-top: solid 10px;
  border-bottom: solid 10px;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

/* Blockquote text */
.blockquote-text {
   position: relative;
   color: #FFFFFF;
   font-size: 30px;
   font-weight: 800;
   line-height: 1;
   margin: 0;
}

/* Blockquote right double quotes */
.blockquote::after {
   position: absolute;
   content: "”";
   color: rgba(255, 255, 255, 1);
   font-size: 10rem;
   line-height: 0;
   bottom: -43px;
   right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote-text {
    font-size: 40px;
  }
}

/* Blockquote footer */
.blockquote-footer {
   position: relative;
   font-size: 1.4rem;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   padding-top: 20px;
   z-index: 1;
}

.blockquote-footer::before {
  content: "\2014\00A0";
}


@media (max-width: 576px) {
  .card {
    min-width: 100%;
  }


  .blockquote {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .blockquote-text {
    font-size: 20px;
  }
  .blockquote-footer {
    font-size: 14px;
  }
  .blockquote::after {
    font-size: 70px;
    bottom: -23px;
  }
}